.categories-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.categories-title > h1 {
	font-size: 1.5rem;
}

.btn__category-add {
	display: inline-block;
	background-color: var(--clr-orange-dark);
	padding: 0.1rem 0.5rem;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	color: var(--clr-text);
}

.single-category {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.8rem 1rem;
	background-color: var(--clr-bg-light);
	margin: 1rem 0;
	border-radius: var(--radius);
	-webkit-border-radius: var(--radius);
	-moz-border-radius: var(--radius);
	-ms-border-radius: var(--radius);
	-o-border-radius: var(--radius);
	box-shadow: var(--shadow);
	gap: 0.1rem;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}

.single-category__title {
	display: inline-block;
	font-size: 1rem;
	font-weight: 600;
}

.single-category__cta {
	display: inline-flex;
	align-items: center;
	gap: 0.1rem;
}

.single-category__cta > button:last-of-type {
	background-color: transparent;
}

.single-category__btn-delete {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 0;
	margin: 0;
	letter-spacing: 0;
	height: 24px;
	width: 24px;
	font-size: 12px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	background-color: var(--clr-orange-light);
	background-color: transparent;
	color: var(--clr-text);
	flex-shrink: 0;
	border: 1px solid var(--clr-border);
}

.single-category__status {
	display: inline-flex;
}

.single-category__status-color {
	height: 10px;
	width: 10px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border: 1px solid var(--clr-bg-light);
	margin-left: -0.2rem;
}

/* add category form */

.section-categories {
	position: relative;
}

.capitalize {
	text-transform: capitalize;
	letter-spacing: 0.01rem;
}
